main {
    height: 100svh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

.overflow-left {
    overflow-y: hidden;
    overflow-x: hidden;
}

.bg-gray {
    background-color: #D9D9D9;
}

.chairOne {
    top: 25%;
    right: -10%;
}

.chairOneSmall {
    top: 81%;
    right: 23%;
    width: 10%;
}

.chairTwoSmall {
    top: 45%;
    right: 95%;
    width: 10%;
}

.chairThreeSmall {
    top: 5%;
    right: 30%;
    width: 10%;
    rotate: 180deg
}

.chairTwo {
    rotate: 120deg;
    top: 63%;
    right: 45%;
}

.chairThree {
    rotate: 240deg;
    top: -14%;
    left: 0%;
}

.image-div {
    height: 110%;
    position: relative;
    top: -22%;
    left: -45%;
    background-image: url('../../assets/images/Rectangle 10.png');
    background-size: contain;
    background-repeat: no-repeat;
    transition: 1s;
}